.container {
    background-color: #1d355c;
    width: 970px;
    padding: 10px;
}
.header {
    width: 100%;
    background-color: #cc323b;
    border-radius: 10px;
    margin-bottom: 25px;
}
.header h1 {
    margin: 0;
    padding: 15px 0 15px 15px;
    color: #c3d6eb;
}
.toolbar {
    width: 180px;
    background-color: #2f7d8b;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}
.toolbar ul {
    padding-left: 20px;
    margin: 0;
}
.toolbar a{
    color: #61cac7;
    font-size: 16px;
}

.paragraph_body {
    background-color: #0f1822;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
    width: 670px;
}
h2 {
    color:#c3d6eb;
}
p {
    color: #c3d6eb;
    
}
li {
    color: #c3d6eb;
    text-decoration-line: none;
}
.bluehighlight {
    color: cyan;
    text-decoration-line: underline;
}
.purplehighlight {
    color: rgb(185, 37, 223);
}
.footer {
    background-color: #5e6672;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
}
h3 {
    padding: 12px 0px 12px 15px;
    color: #c3d6eb;
}